footer {
  width: 100%;
  padding-top: 10px;
  background-color: #403f4c;
  color: white;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.fa-facebook-square:hover {
  color: #1977f3;
}

#footer-instagram {
  color: linear-gradient(to top right, #ffdc80, #405de6);
  font-size: 25px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.site-footer ul li {
  margin-bottom: 10px;
  color: #c9c9c9;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(top right, purple, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fa-linkedin:hover {
  color: #0274b3;
}

#fa-twitter:hover {
  color: #1ba1f5;
}

.developedby {
  margin: 15px 0 10px 0;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 600px) {
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .useful-links {
    width: 100%;
    margin: 10px 0;
  }
  .contact-us {
    width: 100%;
    margin: 10px 0;
  }
  #footer-phone,
  #footer-email {
    margin: 5px;
  }
  #footer-phone h5,
  #footer-email h5 {
    font-size: 120%;
  }
  .social-media {
    width: 100%;
    margin: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  #social-media img {
    height: 35px;
  }
  #social-media h5 {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 240px) {
  #footer-phone h5,
  #footer-email h5 {
    font-size: 100%;
    margin: 2px 0;
  }
  .developedby {
    font-size: 10px;
  }
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
