html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img-thumbnail
{
    height: 100%;
}

#gotop-button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 200%;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
}

#godown-button {
    width: 100%;
    margin: 20px;
    text-align: center;
    font-size: 200%;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-12px);
    }
    60% {
        transform: translateY(-6px);
    }
}

#godown-button:hover {
    color: #4C4B59;
}

.home-welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 10% 76px 10%;
    background-color: white;
}

.home-welcome h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.welcome-list {
    padding: 10px;
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.welcome-list li {
    font-size: 130%;
    text-align: center;
}

.welcome-list a {
    color:white;
    text-decoration: none;
}

.welcome-list a:hover {
    transition: 0.2s ease-in-out;
    color: #4C4B59;
}


.separator {
    text-align: center;
    color: #4C4B59;
    color: none;
    margin: 0 5px;
    justify-content: center;
    align-content: center;
}

.home-aboutus {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 10% 76px 10%;
    background-color: #4C4B59;
}

.home-aboutus h1 {
    color: white;
    font-size: 500%;
    width: 100%;
    font-weight: lighter;
    text-align: left;
    margin: 10px;
}

.home-aboutus p {
    color: white;
    font-size: 140%;
    width: 100%;
    margin: 10px;
}


.home-initiatives {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: white;
}

.home-events {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 5% 5px 5%;
    color: white;
    background-color:#4C4B59;
}

.home-campuscompany {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 10% 76px 10%;
    background-color: white;
}

.home-socialmedia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 10% 76px 10%;
    color: white;
    background-color: #4C4B59;
}

@media only screen and (max-width: 1200px) {
    .home-aboutus,
    .home-campuscompany,
    .home-events,
    .home-initiatives,
    .home-socialmedia {
        width: 100%;
        height: auto;
        padding-top: 76px;
    }
    .home-aboutus h1 {
        font-size: 500%;
    }
    .home-aboutus p {
        font-size: 175%;
    }
}

@media only screen and (max-width: 991px) {
    .home-aboutus h1 {
        font-size: 400%;
    }
    .home-aboutus p {
        font-size: 160%;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 700px) {
    .home-aboutus h1 {
        font-size: 380%;
    }
    .home-aboutus p {
        font-size: 140%;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 600px) {
    .home-aboutus h1 {
        font-size: 300%;
    }
    .home-aboutus p {
        font-size: 120%;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 500px) {
    .home-aboutus h1 {
        font-size: 275%;
    }
    .home-aboutus p {
        font-size: 110%;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 361px) {
    .home-aboutus h1 {
        font-size: 245%;
    }
    .home-aboutus p {
        font-size: 100%;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 240px) {}


/*
    Caraousal CSS
*/

@media (min-width: 768px) {

    /* show 3 items */
    .carouselPrograms .carousel-inner .active,
    .carouselPrograms .carousel-inner .active + .carousel-item,
    .carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carouselPrograms .carousel-inner .carousel-item-next,
    .carouselPrograms .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carouselPrograms .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carouselPrograms .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carouselPrograms .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}